<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add/Update todo item</h4>
            </div>
            <div class="modal-body">

                <form novalidate name="newTask">
                    <div class="form-group">
                        <label for="action">Action:</label>
                        <div class="input-group">
                            <input
                                    id="action"
                                    name="action"
                                    class="form-control"
                                    ng-model="$formCtrl.newItem.action"/>
                        </div>
                        <label for="deadline">Deadline:</label>
                        <div class="input-group">
                            <input
                                    id="deadline"
                                    name="deadline"
                                    class="form-control"
                                    placeholder="e.g. 9/25/2016"
                                    ng-model="$formCtrl.newItem.deadline"/>
                        </div>
                        <label for="responsible">Responsible:</label>
                        <div class="input-group">
                            <input
                                    id="responsible"
                                    name="responsible"
                                    class="form-control"
                                    ng-model="$formCtrl.newItem.responsible"/>
                        </div>
                        <label for="hours">Est. Hours:</label>
                        <div class="input-group">
                            <input
                                    id="hours"
                                    name="hours"
                                    placeholder="e.g. 5"
                                    class="form-control"
                                    ng-model="$formCtrl.newItem.hours"/>
                        </div>
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button
                        class="btn btn-primary"
                        ng-click="$formCtrl.saveChanges()"
                        ng-disabled='!$formCtrl.isItemValid($formCtrl.newItem)'>
                    Save
                </button>
            </div>
            </form>
        </div>
    </div>
</div>